<div class="big-card-container">
    <div class="big-card-picture">
        <img src="https://wallpaperaccess.com/full/7185684.jpg" alt="PlaceHolder">
    </div>
    <div class="big-card-title">
        <h1><a href="#">Xbox anuncia sequência de Lost Odyssey</a></h1>
    </div>
    <div class="big-card-description">
        <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quas quaerat non officia assumenda harum, laborum sequi odio et provident tenetur, suscipit sint ipsam minus delectus nobis voluptates aliquam corrupti.</a></p>
    </div>
</div>
