.thread-container {
    width: 100%;
    
    overflow: hidden;
    box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.75);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    color: white;
}

.thread-container:hover {
    transform: scale(1.03);
}

.thread-content-container {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thread-picture-container {
    width: 40%; 
    height: 200px; 
    overflow: hidden;
    transition: transform 0.3s;
}

.thread-picture-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.thread-picture-container:hover {
    transform: scale(1.05);
}

.thread-infos {
    width: 60%;
    padding-left: 20px;
}

.thread-category {
    background: #000000;
    padding: 4px 10px;
    font-size: 12px;
    display: inline-block;
    margin: 7px 0px 7px 0px;
    color: rgb(255, 255, 255);
}
.thread-category:hover {
    background: #ffffff;
    color: black;
    transition: 0.6s;
}

.thread-title h2 {
    font-size: 17px;
    font-weight: bold;
}

.thread-title h2 a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.thread-title h2 a:hover {
    color: #9e9e9e;
}

.thread-meta {
    font-size: 12px;
    margin: 5px 0px 5px 0px;
    color: #aaa;
}

.description {
    font-size: 14px;
    color: #ccc;
    margin: 10px 0px;
    
}
.description > p {
    margin-right: 5px;
    color: white;
}
.description a > p:hover {
    color: #aaa;
    transition: 0.6s;
}
.thread-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.read-more {
    background: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 7px;
}

.read-more:hover {
    background: #000000;
    color: white;
}
@media (max-width: 768px) {
    .thread-content-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}