<div class="thread-container">
    <div class="thread-content-container">
        <div class="thread-picture-container">
            <a href="/article/{{threadId}}"><img src="{{imageUrl}}" alt="Image" ></a>
        </div>
        <div class="thread-infos">
            
            <a href="/{{threadCategory}}">
                <p class="thread-category">{{threadCategory}}</p>
            </a>

            <div class="thread-title">
                <h2><a href="/article/{{threadId}}">{{threadTitle}}</a></h2>
            </div>

            <p class="thread-meta">By <span>{{author}}</span> • {{date}}</p>

            <span class="description">
                <a href="/article/{{threadId}}">
                    <p>{{threadDescription}}</p>
                </a>
            </span>

            <div class="thread-actions">
                <a  href="/article/{{threadId}}"><button class="read-more">Read More</button></a>
                
            </div>
        </div>
    </div>
</div>
