.container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0px;
    border: 2px solid black; 
}

.categories-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0px 0px 20px 0px;
}

.categories-container > a > li {
    border: 2px solid black; 
    padding: 5px 10px;
    
}

h1 {
    color: black;
    margin-bottom: 30px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
}
.categories-container > a {
    margin-right: 10px;
    
}
.categories-container > a > li {
    color: white;
}
.categories-container > a > li:hover {
    border: 2px solid white;
    background-color: #aaa;
    color: #000000;
    transition: 0.6s;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        padding: 0px;
        border: 2px solid black; 
    }
}