    
.menu-title-container > h1 {
    margin: 15px 0px 15px 0px;
    font-size: 120px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.menu-title-container > hr {
    margin: 10px 0px 10px 0px;
    
}

.menu-title-container {
    text-align: center;
    padding: 10px;
    background-color: #222; /* Cor de fundo opcional */
    color: white; /* Cor do texto */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
