<div class="article-container">
    <div class="article-cover">
        <img src="https://res.cloudinary.com/dnf22gtjt/image/upload/f_auto,q_auto/v1/games/679858412326465536.jpg" alt="">
    </div>
    <div class="article-title">
        <h1>La la la</h1>
    </div>
    <div class="article-content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, excepturi dignissimos officiis vero totam facilis sint debitis impedit hic corrupti, provident dolores, quia minus dicta et. Quaerat atque accusamus laudantium.</p>
    </div>
</div>