<div *ngIf="article" class="article-container">
    <div class="article-cover">
        <img src="./assets/banners/{{article.media}}" alt="Imagem do artigo">
    </div>
    
    <div class="text-content">
        
        <div class="article-meta">
            <a ><span class="article-category">{{ article.category }}</span></a>
            <span class="article-date">{{ article.date }}</span>
            <span>By: {{article.author}}</span>
            <a href=""><span class="home">Back Home</span></a>
            
        </div>

        <div class="article-title">
            <h1>{{ article.title }}</h1>
        </div>
        
        <div class="article-content" [innerHTML]="article.content"></div>
    </div>
    
</div>
<app-footer></app-footer>
<div *ngIf="!article">
    <p>Artigo não encontrado.</p>
</div>
